

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-Text {
  align-content: center;
  height: 90%;
}

.TXTAREA {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  width: 80%;
  height: 50px;
  padding: 10px;
  border: 2px solid purple;
  border-radius: 7px;
  align-content: center;
  margin-bottom: 20px;
}

.TA-p {
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  vertical-align: center;
  color: white;
}

.App-Button {
    margin-top: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.par {
  align-content: center;
  vertical-align: middle;
  height: 400px;
  justify-content: center;
  display: flex;
/* flex-direction: column;*/
align-items: center;
/* justify-content: center;*/
}
.par h1 {
  color:white;
  font-size: 64px;
  vertical-align: center;
  margin-top: 20%;
  margin-bottom: 20%;
  height:60%;
}

 #firstJumbo {
  background-color: black;
  color: lightgrey;
  height: 80px;
  padding: 5px;
}
.jjj {
  background-image: url("./img/bg2.jpeg");
}
.jumbotron {
  background-color: #444444;
  color: lightgrey;
  justify-content: center;
}
body {
  background-color: #444444;
  theme-color: #444444;
  color: white;
}
.isAColumn {
  color: lightgrey;
  margin: 0 auto;
  justify-content: center;
  align-content: center;

}
.isAColumn:hover {
  color: white;
}
.isAColumn p {
  color: grey;
}
.pie2 {
  border-width: 0px;
  border-color: yellow;
  color: yellow;
}

hr {
  width: 80%;
}

.toolbar {
  display: flex;
justify-content: center;
margin-top: 20px;
}

.exchange-view {
  background-color: white;
  min-height: 60px;
  padding-top: 30px;
  color: black;
}

.scroll {
  color: white;
}

.new-section {
    float: left;
    padding: 10px;
    margin-right: 74%;
    width: 20%;
    margin-left: 6%;
    color: white;
}

.well {
  margin-right: 15%;
  width: 70%;
  margin-left: 15%;
  font: 15px courier, sans-serif;
  padding: 7px;
  color: #444444;
  border: 2px solid grey;
}
.myPlot {
  height: 200px;
  width: 200px;
  background-color: pink;
  color: green;
}

.woah {
background-color: pink;
width: 100px;
height: 100px;
}

.MyCustomChart {
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;

}
.PieChart {
  width: 60%;
  height: 200px;
  margin-left: 20%;
  margin-right: 20%;
}
#chahts {
  align-content: center;;
  justify-content: center;

}

#part2 {
  background-color: white;
}

.bg {
  width: 100%;
  align-content: center;
  height: 250px;
  opacity: 0.5;
  margin-top: 20px;
  background-image: url("./img/bg2.jpeg");
  background-size: auto;

  background-repeat: no-repeat;
}
.constrained {
  margin: 20px;
  width: 80%;
  height: 70px;
}
Grid {
  width: 100%;
}
Parallax {
  height: 300px;
}
.show-grid {
  width: 100%;
  padding: 10px;

}

h2 {
  float: left;
  margin-left: 5%;
}

@media (max-width: 600px) {
  #firstJumbo {
    height: 120px;

  }
  ButtonToolbar {
    width: 100%;
  }
}
